.achievement {
    display:block;
    font-family:Arial;
}
.achievement .medal-container {
    display:block;
    position:relative;
    height:120px;
    width:120px;
    left:50%;
    margin-left:-60px;
    font-size:14px;
}
.achievement .medal-container .medal, 
.achievement .medal-container .ring, 
.achievement .medal-container .inner {
    max-width:100%;
    max-height:100%;
    background-color:#ff0;
    border-radius:50%;
    border:1x solid #ee0;
}
.achievement .medal-container .medal {
    padding:2%;
    border:1px solid #ee0;
}
.achievement .medal-container .ring {
    padding:8%;
    background-color:#cc0;
}
.achievement .medal-container .inner {
    padding-top:15%;
    padding-bottom:25%;
    background-color:#fe0;
    border:1px solid #ff0;
}
.achievement .medal-container .text {
    display:block;
    text-align:center;
    color:#bb0;
    text-transform:uppercase;
    padding-top:4%;
    padding-bottom:4%;
    text-shadow: -1px -1px 0px #ff0;
}
.achievement .medal-container .stars {
    display:block;
    text-align:center;
    color:#bb0;
    line-height:20%;
    padding-top:2%;
}
.achievement .medal-container .ribbon {
    position:relative;
    width:40%;
    height:50px; /* ribbon height */
    left:50%;
    margin-left:-15%;
    margin-top:-17%;
    z-index:-1;
}
.achievement .medal-container .ribbon div {
    float:left;
    height:100%;
    width:40%;
    background-color:#a00;
}
.achievement .medal-container .ribbon div.r {
    background-color:#f00;
    -moz-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -webkit-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -o-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -ms-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    transform: rotate(-20deg) skewX(0deg) skewY(40deg);
}
.achievement .medal-container .ribbon div.l {
    -moz-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -webkit-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -o-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -ms-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    transform: rotate(20deg) skewX(0deg) skewY(-40deg);
}

.achievement > .ribbon {
     font-size: 12px !important; 
     width: 110px;
     position: relative;
     background: #ba89b6;
     color: #fff;
     text-align: center;
     padding: .5em 1em;
     margin: -3.3em auto 3em;
}
.achievement > .ribbon:before, 
.achievement > .ribbon:after {
     content: "";
     position: absolute;
     display: block;
     bottom: -1em;
     border: 1em solid #986794;
     z-index: -1;
}
.achievement > .ribbon:before {
     left: -1.5em;
     border-right-width: 1.5em;
     border-left-color: transparent;
}
.achievement > .ribbon:after {
     right: -1.5em;
     border-left-width: 1.5em;
     border-right-color: transparent;
}
.achievement > .ribbon .ribbon-content {
    white-space:nowrap;
    text-align:center;
    color:rgba(255,255,255,.8);
    text-shadow: -1px -1px 0px rgba(0,0,0,.5);
}
.achievement > .ribbon .ribbon-content:before, 
.achievement > .ribbon .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #804f7c transparent transparent transparent;
     bottom: -1em;
}
.achievement > .ribbon .ribbon-content:before {
     left: 0;
     border-width: 1em 0 0 1em;
}
.achievement > .ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
}

.achievement .medal-container .score{
  font-size: 35px;
  color: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#ranking{
  text-align: center;
}
#spectrum{
  text-align: center;
}
#wrong-color{
  display: inline-block;
}
.wrong-color-patch{
  display: inline-block;
  padding: 1px;
}
.wrong-color-patch div{
  border-radius: 5px;
}